

*{
  box-sizing:border box;
  margin:0;
  padding:0;
}



body{
font-family: 'Courier New', Courier, monospace;
font-style: oblique;
font-size: medium;
background: lightgray;
/* background: url("assets/bgcocktail.jpg") no-repeat center center fixed; */
}

.wrapper{
   width:100%;
   height:400px;
   /* background-color: slategrey; */
   background: url("assets/bgcocktail.jpg") ;
}
  
.search-box{
     position: absolute;
  top:20%;
  left:50%;
  transform:translate(-50%, -50%);
  height:40px;
  padding:10px;    
  /*background-color: violet;*/
 }




.input-box{
 border:none;
      outline:none;
      background:rgb(245, 242, 242);
      float:left;
      color:black;
      font-size:16px;
      transition:0.4s all;
      line-height:40px;
      width:0px;     

  }

 .btn{
     color:#f0f5f4;
     float:right;
     width:40px;
     height:40px;
     line-height:40px;
     text-align:center;
     border-radius:50%;

 }

 .search-box:hover .input-box{
   width:240px;
   padding:0 6px;


 }

 .serach-box:hover .btn{
     background-color:rgb(255, 255, 255);
 }
 
header{
  width:100%;
 padding:20px;
/* position: fixed;*/
 /*background-color:yellowgreen;*/
 display:flex;
 flex-wrap:wrap;
 justify-content: space-between;
opacity:.90;
}

header h1{
color:rgb(240, 247, 240);

}
h1 {
font-size: 40px;
}

#links{
margin-right:20px;
}

#links ul li{
display:inline-block;
text-transform: uppercase;
font-weight: 900;
font-size:25px;
}

#links ul li a{
text-decoration: none;
color:rgb(228, 240, 228);
padding:45px;
border-bottom: 0px solid cyan ;
transition:border 120ms, padding 120ms;/*for smooth styling*/
}
#links ul li a:hover{
border-bottom: 4px solid crimson;
padding-bottom:25px;
}
#links ul li a:active{
color:lawngreen;
}

/******End of header section****/

/* Landing section */

#landing {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

h1{
  color:dodgerblue;
  margin-top: 5px;
}

#landing h2 {
color:dodgerblue;
}


#landing li {
 /* text-align: right; */
  list-style: none; 
}

/*#landing button {    
 /*float: right;*/
/* margin-left:*/ 
/* border-radius: 5px;*/

/* margin-left:70%;*/





/************* Restaurant near you section ************/




.restNear {
  text-align: center;
  color:dodgerblue;
  font-weight: bold;
  font-size: x-large;
}

#nearRest{
  list-style: none;
  text-decoration: none;
  text-align:center;
  font-weight:bold;
  color:rgb(62, 62, 110);
}

.home {
  text-align: right;
  list-style: none;
  text-decoration: none;
 margin-right: 20px;
}

#findBtnEl{
justify-content: center;
margin-left:15px;
padding:5px;
border-radius: 40px;
background:lightsteelblue;
  color:slateblue;
  
}



/********* DRINK DETAILS **********/
#drink-details {
display: flex;
justify-content: space-evenly;


}


/* INGREDIENTS SECTION */
#ingredients-section {
display: flex; 
flex-direction: column;
justify-content: flex-start;
padding: 5px;
margin: 10px;
}

#printIngredients {
padding: 10px;
margin:20px;
color:rgb(45, 112, 171);
}


/* INSTRUCTIONS SECTION */
#instructions-header {
display: flex;
display: row;
justify-content: space-between;
align-items: flex-end;
padding: 5px;
margin: 10px;

}

#printInstructions {
padding: 15px;
text-align:justify;
  margin-right:10px;
  color:rgb(45, 112, 171);
  

}

/********** About section ***********/

.aboutSec {
  text-align: center;
  margin-bottom: 3px;
}

/*.home {
  text-align: right;
  list-style: none;
  margin-right: 20px;
  
/*}*/

/*********** Team section **********/
#ptag {
  text-align: center;
  color:rgb(45, 112, 171);
}

.team {
  text-align: center;
  color:dodgerblue;
}




h3{
/*  margin-left:30%;*/
font-size: x-large;
color:dodgerblue;
}


.team-container{
  display:flex;
  flex-wrap:wrap;
  justify-content: space-evenly;
  /*align-items: center;*/
  /*align-content:center;*/

}

.item h4{
  align-self: center;
  padding:10px;
  color:dodgerblue;
  text-transform: uppercase;
  font-weight: bolder;
  font-size: x-large;
}

.item{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  padding:10px;
  margin:15px;
  border:1px solid none;
  background-color:lightskyblue;
  color:slateblue;
  border-radius:4px;
  box-shadow: 0 2px 2px rgba(216, 213, 213, 0.062);
  height:250px;
  width:300px;
}
.lastlink{
  text-align: center;
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color:blueviolet;
  
}


/*********MEDIA QUERIES******/

@media  screen and (max-width:768px){   /*for header*/
  #links ul li a:hover{
   /* color: turquoise;*/
    padding-bottom: 5px;
    border-bottom: none;
    font-weight:bold;
    font-size: medium;
    
  }
  
   #links ul  {
     display:flex;
     flex-wrap: wrap;
     flex-direction:column;
     justify-self: flex-end;
     justify-content: space-around;
     
   }

   #links ul li{
     text-align:center;
   }
    
   .search-box:hover .input-box{
     width:135px;
   }
   .btn{
     text-align:center;
   }

   header h1{
     font-size: medium;
   }
   #links ul li a{
     color:whitesmoke;
   }
   .items{
    display:flex;
    width:100%;
  }
  #printInstructions{
    height:auto;
  }
}